.card {
    font-family: helvetica, arial, sans-serif;
    font-size: 20pt;
    line height: 1.5;
    text-align: center;
    color: rgb(16, 15, 15);
    background-color:rgb(255, 252, 240);
    word-wrap: break-word;
    padding: 2%
  }
  
  .nightMode .card {font-weight:500;}
  
  /* Top Info and Answer Box */
  .tags {color:rgb(183, 181, 172);text-align:right;font-size:0.9rem;padding-bottom:8px;}
  
  /* Font Selections */
  .win .chinese {font-family: KaiTi, "MS Mincho", "ＭＳ 明朝", serif;}
  .mac .chinese {font-family: "Kaiti SC","Kaiti TC","Noto Serif TC", "Noto Serif SC";}
  .mobile .chinese {font-family: HYQIHei, serif;}
  
  /* Hanzi */
  .chinese { 
      font-size: 2rem;
  }
  
  .chinese ul {
    display: inline-flex;
    list-style: none;
    padding: 1%;
      }
  
  /* Enable Traditional and Simplified */
  .trad {font-variant-east-asian: traditional;}
  .simp {font-variant-east-asian: simplified;}
  
  /* Pinyin */
  .pinyin, .hint {font-size: 1.5rem;}
  .tone1 {color: rgb(175, 48, 41);} /* Red */
  .nightMode .tone1 {color: rgb(175, 48, 41);} /* Red */
  
  .tone2 {color: rgb(188, 82, 21);} /* Orange */
  .nightMode .tone2 {color: rgb(188, 82, 21);} /* Orange */
  
  .tone3 {color: rgb(102, 128, 11);} /* Green */
  .nightMode .tone3 {color: rgb(102, 128, 11);} /* Green */
  
  .tone4 {color: rgb(32, 94, 166);} /* Blue */
  .nightMode .tone4 {color: rgb(32, 94, 166);} /* Blue */
  
  .tone5 {color: rgb(111, 110, 105);} /* Gray */
  .nightMode .tone5 {color: rgb(111, 110, 105);} /* Gray */
  
  
  /* Misc Styling */
  .comment {font-size: 1rem; color:grey;} /* Faded text */
  .example {font-size:1.2rem; text-align: left;}