:root {  /* Light mode*/
    --tx: #100F0F;
    --tx-2:#6F6E69;
    --tx-3:#B7B5AC;
    --ui:#E6E4D9;
    --ui-2:#DAD8CE;
    --ui-3:#CECDC3;
    --bg: #FFFCF0;
    --bg-2: #F2F0E5;
    --red:#AF3029;
    --orange:#BC5215;
    --yellow:#AD8301;
    --green:#66800B;
    --cyan:#24837B;
    --blue:#205EA6;
    --purple:#5E409D;
    --pink:#A02F6F;
}
:root { /* Dark mode*/
    --night-tx: #CECDC3;
    --night-tx-2: #878580;
    --night-tx-3: #575653;
    --night-ui: #282726;
    --night-ui-2:#343331;
    --night-ui-3:#403E3C;
    --night-bg: #100F0F;
    --night-bg-2: #1C1B1A;
    --night-red:#D14D41;
    --night-orange:#DA702C;
    --night-yellow:#D0A215;
    --night-green:#879A39;
    --night-cyan:#3AA99F;
    --night-blue:#4385BE;
    --night-purple:#8B7EC8;
    --night-pink:#CE5D97;
}
:root {
    /* Calculated from https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=1080&minRatio=1.25&maxFontSize=20&maxWidth=1800&maxRatio=1.33&steps=xs%2C+s%2C+base%2Cm%2Clg%2Cxl%2Cxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1080 */
	--font-size-xs: clamp(0.64rem, 0.14vw + 0.54rem, 0.7rem);
	--font-size-sm: clamp(0.8rem, 0.31vw + 0.59rem, 0.94rem);
	--font-size-base: clamp(1rem, 0.56vw + 0.63rem, 1.25rem);
	--font-size-md: clamp(1.25rem, 0.92vw + 0.63rem, 1.67rem);
	--font-size-lg: clamp(1.56rem, 1.46vw + 0.57rem, 2.22rem);
	--font-size-xl: clamp(1.95rem, 2.24vw + 0.44rem, 2.96rem);
	--font-size-xxl: clamp(2.44rem, 3.35vw + 0.18rem, 3.95rem);
	--font-size-xxxl: clamp(3.05rem, 4.91vw + -0.26rem, 5.26rem);
}

/* APPLY TO ALL PLATFORMS*/
.card {
    font-size: var(--font-size-base);
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: var(--tx);
    background-color: var(--bg);
    word-wrap: break-word;
    padding: 3%;
}

/*Set Colours*/
.card.nightMode {
    color: var(--night-tx);
    font-weight:500;
    background-color:var(--night-bg);
}

/*Pinyin */
.pinyin {font-size: var(--font-size-md);}
.tone1 {color: var(--red);} /* Red */
.nightMode .tone1 {color: var(--night-red);} /* Red */

.tone2 {color: var(--orange);} /* Orange */
.nightMode .tone2 {color: var(--night-orange);} /* Orange */

.tone3 {color: var(--green);} /* Green */
.nightMode .tone3 {color: var(--night-green);} /* Green */

.tone4 {color: var(--blue);} /* Blue */
.nightMode .tone4 {color: var(--night-blue);} /* Blue */

.tone5 {color: var(--tx-2);} /* Gray */
.nightMode .tone5 {color: var(--night-tx-2);} /* Gray */


/* Chinese Fonts*/
.win :lang(zh) {font-family: KaiTi, "MS Mincho", "ＭＳ 明朝", serif;}
.mac :lang(zh-HK) {font-family: "Kaiti TC","Noto Serif TC", serif;}
.mac :lang(zh-CN) {font-family: "Kaiti SC","Noto Serif SC", serif;}
.mobile :lang(zh-HK) {font-family: "Noto Serif TC", HYQIHei, serif;}
.mobile :lang(zh-CN) {font-family: "Noto Serif SC", HYQIHei, serif;}
:lang(zh) {font-size: var(--font-size-xl);}

/* Ensure Traditional and Simplified */
:lang(zh-CN) {font-variant-east-asian: simplified;}
:lang(zh-HK) {font-variant-east-asian: traditional;}

/* MORE STYLING */
.comment {color: var(--tx-2);} /*Note of classifiers or variants*/
.comment a {color: var(--blue);text-decoration:underline;}
.nightMode .comment, .nightMode .eng-classifer, .nightMode .example{color: var(--night-tx-2);}

.tags { /* Top Info and Answer Box */
    color:var(--tx-3);
    text-align:right;
    font-size:var(--font-size-sm);
    padding-bottom:8px;
} 
.nightMode .tags {color: var(--night-tx-3);}

/* Misc Styling */
.english {line-height: 1.2;}
.eng-classifer { /*Noun, Adj Pleco*/
	display: block;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: var(--font-size-sm);
	color: var(--tx-3);
}

/* Syling for Examples */
.example::before {
    content: "Examples:";
    display: block;
    color: var(--tx-2);
    text-decoration:underline;
    margin-bottom: 1%;
}

.example {
    color: var(--tx-2);
    line-height: 1.2;
    text-align: left;
    margin: 3% 5%;
    min-height: 10vh;
    max-height: 25vh;
    overflow-y: auto;
    border-block-end:2px solid var(--ui-2);
    border-end-start-radius:2%;
    border-end-end-radius:2%;
}
.nightMode .example {border-block-end:2px solid var(--night-ui-2);} 

.example br:nth-of-type(3n+2){ /* Add spacing between examples */
   display: flex;
		height: 0rem;
}
.example :lang(zh-CN){font-size:var(--font-size-base);} /*Keeps example font small but chinese font*/

/* Styling for Play Button */
.replay-button svg {
  width: 20px;
  height: 20px;
}
.replay-button svg circle {fill: var(--bg);}
.nightMode .replay-button svg circle {fill: var(--night-bg);}
.replay-button svg path {fill: var(--tx-3);}
.nightMode .replay-button svg path {fill: var(--night-tx-2);}
