:root {
    --fs-xxs: clamp(0.58rem, -0.11vw + 0.65rem, 0.53rem);
    --fs-xs: clamp(0.72rem, -0.04vw + 0.74rem, 0.7rem);
    --fs-sm: clamp(0.9rem, 0.08vw + 0.84rem, 0.94rem);
    --fs-base: clamp(1.13rem, 0.28vw + 0.94rem, 1.25rem);
    --fs-md: clamp(1.41rem, 0.58vw + 1.02rem, 1.67rem);
    --fs-lg: clamp(1.76rem, 1.03vw + 1.06rem, 2.22rem);
    --fs-xl: clamp(2.2rem, 1.7vw + 1.05rem, 2.96rem);
    --fs-xxl: clamp(2.75rem, 2.67vw + 0.95rem, 3.95rem);
    --fs-xxxl: clamp(3.43rem, 4.06vw + 0.69rem, 5.26rem);

    /* Font Stacks */
    --font-ui: system-ui, sans-serif; /* UI font stack */
    --font-sans-serif: "Helvetica Neue", Helvetica, Inter, Roboto, Arial, sans-serif; /* Sans-Serif Font Stack */
    --font-serif: Georgia, "Times New Roman", Times, serif; /* Serif Font Stack */
    --font-monospace: "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono",ui-monospace, monospace; /* Monospace Font Stack */
    --font-math: MJXZERO, MJXTEX, STIXGeneral, "Arial Unicode MS", serif; /*Math Font Stack*/
}

:root {  /* Flexoki Day */
    --tx: #100F0F;
    --tx-2:#6F6E69;
    --tx-3:#B7B5AC;
    --ui:#E6E4D9;
    --ui-2:#DAD8CE;
    --ui-3:#CECDC3;
    --bg: #FFFCF0;
    --bg-2: #F2F0E5;
    --red:#AF3029;
    --orange:#BC5215;
    --yellow:#AD8301;
    --green:#66800B;
    --cyan:#24837B;
    --blue:#205EA6;
    --purple:#5E409D;
    --pink:#A02F6F;
}

.nightMode { /* Flexoki Night */
    --tx: #CECDC3;
    --tx-2: #878580;
    --tx-3: #575653;
    --ui: #282726;
    --ui-2:#343331;
    --ui-3:#403E3C;
    --bg: #100F0F;
    --bg-2: #1C1B1A;
    --red:#D14D41;
    --orange:#DA702C;
    --yellow:#D0A215;
    --green:#879A39;
    --cyan:#3AA99F;
    --blue:#4385BE;
    --purple:#8B7EC8;
    --pink:#CE5D97;
}

/* APPLY TO ALL PLATFORMS*/
.card {
    padding:3%;
    font-size: var(--fs-md);
    font-family: var(--font-sans-serif);
		font-optical-sizing: auto;
    line-height: 1.5;
    text-align: center;
    color: var(--tx);
    background-color: var(--bg);
    word-wrap: break-word;
}

.card.nightMode {
   	font-weight:500;
		color: var(--tx);
}

.tags { /* Top Info and Answer Box */
    color:var(--tx-3);
    text-align:right;
    font-size:var(--fs-sm);
    padding-bottom:8px;
} 


/* Chinese Fonts*/
.win :lang(zh) {font-family: KaiTi, "MS Mincho", "ＭＳ 明朝", serif;}
.mac :lang(zh-HK) {font-family: "Kaiti TC","Noto Serif TC", serif;}
.mac :lang(zh-CN) {font-family: "Kaiti SC","Noto Serif SC", serif;}
.mobile :lang(zh-HK) {font-family: "Noto Serif TC", HYQIHei, serif;}
.mobile :lang(zh-CN) {font-family: "Noto Serif SC", HYQIHei, serif;}

/* Ensure Traditional and Simplified */
:lang(zh-CN) {font-variant-east-asian: simplified;}
:lang(zh-HK) {font-variant-east-asian: traditional;}

/* HANZI */
.hanzi {font-size:var(--fs-xl)}

/* ENGLISH */
.english {line-height: 1.2;}
.english :is(ol, ol li) {
		list-style-type: none;
		text-align:center;
		font-size: var(--fs-base);
    margin: 0;
    padding: 0;
		color: var(--tx);
}

.eng-classifer { /*Noun, Adj Pleco*/
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: var(--fs-sm);
    text-transform: uppercase;
    color: var(--tx-3);
}

/* PINYIN */
.pinyin a.hint{font-style:italic;}
.tone1 {color: var(--red);} /* Red */
.tone2 {color: var(--orange);} /* Orange */
.tone3 {color: var(--green);} /* Green */
.tone4 {color: var(--blue);} /* Blue */
.tone5 {color: var(--tx-2);} /* Gray */

/* ALSO */
.also {font-size:var(--fs-md);}

/* Make info smaller */
.classifier small, .also small {
	font-size:var(--fs-base);
	color:var(--tx-2);
	font-variant: small-caps;
	vertical-align:bottom;
}

/* CLASSIFER */
.classifier ruby > rt {font-size: 70%;}

/* EXAMPLES */
.example::before {
		font-size: var(--fs-sm);
    content: "Examples:";
    display: block;
    color: var(--tx-2);
		font-variant: small-caps;
    text-decoration:underline;
    margin-bottom: 1%;
}

.example {
		font-size: var(--fs-base);
    color: var(--tx-2);
    line-height: 1.2;
    text-align: left;
    margin: 3% 5%;
    min-height: calc(var(--fs-base)*4.5);
    max-height: clamp(calc(var(--fs-base)*7), calc(var(--fs-base)*15), 30vh);
    overflow-y: auto;
    border-block-end:2px solid var(--ui-2);
    border-end-start-radius:2%;
    border-end-end-radius:2%;
}

.example br:nth-of-type(3n+2){ /* Add spacing between examples */
    display: flex;
    height: 0rem;
}

/* COMMENT */
.replay-button svg {
	width: 20px;
	height: 20px;
}
.replay-button svg circle {fill: var(--bg);}
.replay-button svg path {fill: var(--tx-2);}
.comment a {
	font-size: var(--fs-sm);
	color: var(--tx-2);
	text-decoration:underline;
}
