:root {
    --tx: #100F0F;
    --tx-2:#6F6E69;
    --tx-3:#B7B5AC;
    --ui:#E6E4D9;
    --ui-2:#DAD8CE;
    --ui-3:#CECDC3;
    --bg: #FFFCF0;
    --bg-2: #F2F0E5;
    --red:#AF3029;
    --orange:#BC5215;
    --yellow:#AD8301;
    --green:#66800B;
    --cyan:#24837B;
    --blue:#205EA6;
    --purple:#5E409D;
    --pink:#A02F6F;

    --night-tx: #CECDC3;
    --night-tx-2: #878580;
    --night-tx-3: #575653;
    --night-ui: #282726;
    --night-ui-2:#343331;
    --night-ui-3:#403E3C;
    --night-bg: #100F0F;
    --night-bg-2: #1C1B1A;
    --night-red:#D14D41;
    --night-orange:#DA702C;
    --night-yellow:#D0A215;
    --night-green:#879A39;
    --night-cyan:#3AA99F;
    --night-blue:#4385BE;
    --night-purple:#8B7EC8;
    --night-pink:#CE5D97;
    /* Calculated from https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=1080&minRatio=1.25&maxFontSize=20&maxWidth=1800&maxRatio=1.33&steps=xs%2C+s%2C+base%2Cm%2Clg%2Cxl%2Cxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1080 */
    --font-size-xs: clamp(0.6rem, 0.06vw + 0.56rem, 0.63rem);
    --font-size-s: clamp(0.8rem, 0.19vw + 0.67rem, 0.89rem);
    --font-size-base: clamp(1.06rem, 0.42vw + 0.78rem, 1.25rem);
    --font-size-m: clamp(1.41rem, 0.78vw + 0.89rem, 1.76rem);
    --font-size-lg: clamp(1.88rem, 1.35vw + 0.97rem, 2.49rem);
    --font-size-xl: clamp(2.5rem, 2.23vw + 0.99rem, 3.5rem);
    --font-size-xxl: clamp(3.32rem, 3.59vw + 0.9rem, 4.94rem);
}
/* APPLY To ALL PLATFORMS*/
.card {
    font-size: var(--font-size-base);
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: var(--tx);
    background-color: var(--bg);
    word-wrap: break-word;
    padding: 3%;
}

/*Set Colours*/
.card.nightMode {
    color: var(--night-tx);
    font-weight:500;
    background-color:var(--night-bg);
}

/*Pinyin */
.tone1 {color: var(--red);} /* Red */
.tone2 {color: var(--orange);} /* Orange */
.tone3 {color: var(--green);} /* Green */
.tone4 {color: var(--blue);} /* Blue */
.tone5 {color: var(--tx-2);} /* Gray */
.nightMode .tone1 {color: var(--night-red);} /* Red */
.nightMode .tone2 {color: var(--night-orange);} /* Orange */
.nightMode .tone3 {color: var(--night-green);} /* Green */
.nightMode .tone4 {color: var(--night-blue);} /* Blue */
.nightMode .tone5 {color: var(--night-tx-2);} /* Gray */
.nightMode .tags {color: var(--night-tx-3);}
.nightMode .comment {color: var(--night-tx-2);}
.nightMode .example {color: var(--night-tx-2);border-block-end:2px solid var(--night-ui-2);} 

/* .Chinese Class */
.chinese {font-size: var(--font-size-lg);}
.win .chinese {font-family: KaiTi, "MS Mincho", "ＭＳ 明朝", serif;}
.mac .chinese {font-family: "Kaiti SC","Kaiti TC","Noto Serif TC", "Noto Serif SC";}
.mobile .chinese {font-family: HYQIHei, serif;}

/* Enable Traditional and Simplified */
.trad {font-variant-east-asian: traditional;font-size:var(--font-size-xl);}
.simp {font-variant-east-asian: simplified;font-size:var(--font-size-xl);}

/* MORE STYLING */
.pinyin {font-size: var(--font-size-m);}

.comment { /*Note of classifiers or varitients*/
    font-size: var(--font-size-s);
    color: var(--tx-2);
} 
.tags { /* Top Info and Answer Box */
    color:var(--tx-3);
    text-align:right;
    font-size:var(--font-size-s);
    padding-bottom:8px;
} 

/* Misc Styling */
.english {
    font-size:var(--font-size-base);
    line-height: 1.2;
}
.example {
    color: var(--tx-2);
    font-size:var(--font-size-base);
    line-height: 1.2;
    text-align:left;
    margin-top:5%;
    min-height: calc(var(--font-size-base)*3);
    height:calc(var(--font-size-base)*11);
    overflow-y: auto;
    border-block-end:1px solid var(--ui-2);
    border-end-start-radius:4vh;
    border-end-end-radius:4vh;
}

.example br:nth-of-type(3n+2){ /* Add spacing between examples */
   display: flex;
		height: 0rem;
}
