:root {
	/* Calculated from 
	https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=1080&minRatio=1.25&maxFontSize=20&maxWidth=1800&maxRatio=1.333&steps=xxs%2Cxs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=fs&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1080
	*/
	--fs-xxs: clamp(9.22px, -0.11vi + 10.37px, 8.44px);
	--fs-xs: clamp(11.52px, -0.04vi + 11.92px, 11.26px);
	--fs-sm: clamp(14.4px, 0.08vi + 13.49px, 15px);
	--fs-base: clamp(18px, 0.28vi + 15px, 20px);
	--fs-md: clamp(22.5px, 0.58vi + 16.26px, 26.66px);
	--fs-lg: clamp(28.13px, 1.03vi + 17.01px, 35.54px);
	--fs-xl: clamp(35.16px, 1.7vi + 16.83px, 47.37px);
	--fs-xxl: clamp(43.95px, 2.67vi + 15.14px, 63.15px);
	--fs-xxxl: clamp(54.93px, 4.06vi + 11.07px, 84.17px);

	/* Font Stacks */
	--font-ui: system-ui, sans-serif; /* UI font stack */
	--font-sans-serif: "Helvetica Neue", Helvetica, Inter, Roboto, Arial, sans-serif; /* Sans-Serif Font Stack */
	--font-serif: Georgia, "Times New Roman", Times, serif; /* Serif Font Stack */
	--font-monospace: "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono",ui-monospace, monospace; /* Monospace Font Stack */
	--font-math: MJXZERO, MJXTEX, STIXGeneral, "Arial Unicode MS", serif; /*Math Font Stack*/
}

.card {
	padding:3% 1%;
	font-family: var(--font-sans-serif);
	font-size: var(--fs-md);
	text-align: center;
	color: black;
	background-color: white;
}

.mobile:not(.ipad) .card {font-size: var(--fs-base);}

.tags {
	color:grey;
	text-align:right;
	font-size:var(--fs-sm);
	font-family: var(--font-ui);
	padding-bottom:10px;
}
