@import url("core-card.css");
:root {
	--font-cn-pc: "Kaiti SC", KaiTi, "Noto Serif SC", "MS Mincho", "ＭＳ 明朝", serif;
	--font-cn-mob:"Noto Serif SC", "Noto Serif Simp", HYQIHei, serif;
}
/* Universal Styling */
.card {
	font-family: var(--font-sans-serif), var(--font-cn-pc), var(--font-ui);
	font-size: var(--fs-base);
	font-variant-east-asian: simplified;
	text-align: center;
	color: black;
	background-color: white;
}
.mobile .card {font-family: var(--font-sans-serif), var(--font-cn-mob);}
.hint {color: gray}
a {color:#205EA6;}

/* Spacing */
.front {margin-top:20px;}
.front > div + div,
.lessonInfo > div + div {margin-top:10px 0;}

hr#answer{margin:1.5rem 0;}

/* FRONT */
/* Chinese Fonts*/
.hanzi {
	font-family: var(--font-cn-pc);
  font-size: var(--fs-xl);
}
ruby rt {
	visibility: hidden;
	font-variant-east-asian: ruby;
}
ruby:hover rt {visibility: visible;}

.pinyin, .english {color: gray;}

/* ONLY for IS Valid Card Types */
.header {margin-bottom: 20px;}

.invalid, .valid {
	font-size: var(--fs-lg);
	font-weight: bold;
	margin-bottom: 20px;
}

.valid::after {
	content: "Correct!";
	color: green;
}

.invalid::before {
	content: "Not Correct!";
	color: red;
}

/* BACK -- lessonInfo div */
.notes {font-size: var(--fs-md);}
.pattern {font-size: var(--fs-md);}
.article {font-size: var(--fs-base);}

.article::before, .pattern::before {
	font-size:var(--fs-sm);
	color: grey;
	margin-right: 5px;
}
.pattern::before{content: "Pattern:";}
.article::before{content: "Link:";}