<div class="prettify-flashcard">
  <div class="prettify-deck">{{Deck}}</div>
  <div class="prettify-field prettify-field--front">{{cloze:Text}}</div>
  
{{#Back Extra}}{{#Example}}<div class="prettify-divider prettify-divider--answer"></div>{{/Example}}{{/Back Extra}}
{{^Back Extra}}{{#Example}}<div class="prettify-divider prettify-divider--answer"></div>{{/Example}}{{/Back Extra}}
{{^Example}}{{#Back Extra}}<div class="prettify-divider prettify-divider--answer"></div>{{/Back Extra}}{{/Example}}
 <!-- Conditionals that only generate a divider if there is more information in Back Extra, or Example Fields -->

  <div class="prettify-field prettify-field--back">
		{{#Back Extra}}{{Back Extra}}{{/Back Extra}}
		{{#Example}}<div class=example>{{Example}}</div>{{/Example}}
	</div>
 {{#Tags}}<div class="prettify-tags">{{Tags}}</div>{{/Tags}}
</div>

<script src="_minimalDeck.js"></script>
<script src="_minimalTags.js"></script>


