<div class="prettify-flashcard">
	<div class="prettify-deck">{{Deck}}</div>
	<div class="prettify-field prettify-field--front">
				{{Back}}
				{{#Example}}<div class="example">{{hint:Example}}</div>{{/Example}}
	</div>
	
	<hr class="prettify-divider prettify-divider--answer" id="answer" />
	
	<div class="prettify-field prettify-field--back">{{Front}}</div>
	{{#Tags}}<div class="prettify-tags">{{Tags}}</div>{{/Tags}}
</div>

<script src="_minimalDeck.js"></script>
<script src="_minimalTags.js"></script>
