@import url("_core-card.css"); /* Import font sizing and stacks */
@import url("_flexoki-theme.css"); /* Import Flexoki Colours */

/*#region =========================================== MINIMAL CARD STYLING */
.card {
	cursor: default;
	padding: 0.5em 0;
	background-color: #f2f0e5;
}
.card.nightMode {
	background-color: var(--bg-2);
}

html:not(.mobile) .card {
	padding: 0.5em;
}
.card::-webkit-scrollbar {
	display: none;
}
/* -------------------------------------------------- FLASHCARD */
.prettify-flashcard {
	background-color: var(--bg);
	border-radius: 8px;
	border: 1px solid var(--ui);
	box-shadow: var(--ui) 0px 7px 14px 0px, var(--ui) 0px 3px 6px 0px;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 40em;
	text-align: center;
	word-wrap: break-word;
	color: var(--tx);
	font-family: var(--font-sans-serif, sans-serif);
	font-size: var(--fs-base);
}
.nightMode .prettify-flashcard {
	box-shadow: none;
}
.prettify-flashcard ::selection {
	background-color: var(--ui-2);
}
/* -------------------------------------------------- FIELDS */
header, footer, .prettify-field {
	margin: 2rem;
}
.mobile:not(.ipad) :is(header, footer, .prettify-field) {
	margin: 1rem;
}

/* -------------------------------------------------- CARD TYPE AND TAGS */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--tx-2);
	font-size: var(--fs-sm);
	font-family: var(--font-sans-serif), var(--font-ui);
}

.card-type {
	flex-basis: content;
}

.prettify-tags {
	display: flex;
	flex-flow: row-reverse;
	flex-grow: 2;
	flex-basis: content;
	gap: 0.5em;
}

.prettify-tag {
	all: initial;
	background-color: var(--bg-2);
	border-radius: 0.2em;
	display: inline;
	padding: 0.25em;
	word-break: break-word;
	color: var(--tx-2);
	font-size: var(--fs-sm);
	font-family: var(--font-sans-serif), var(--font-ui);
}

/* -------------------------------------------------- DIVIDER */
.prettify-divider {
	background-color: transparent;
	border: none;
	border-bottom: 1.5px dashed var(--ui-3);
	margin: 1em;
	padding: 0;
}
.prettify-divider.answer {
	margin: 0;
}
/*#endregion =========================================== */

/*#region =========================================== FIELD STYLING */
p {
	margin-block-start: 0px;
	margin-block-end: 0px;
}
a.hint {
	font-size: var(--fs-base);
	color: var(--tx-2);
	font-style: italic;
}

/*#region ================================== HANZI AND PINYIN */
ruby,
ruby rt {
	font-variant-east-asian: simplified ruby !important;
}
ruby rt {
	visibility: hidden;
}
ruby:hover rt {
	visibility: visible;
}
:root{
	--font-zh-CN: "Kaiti SC", adobe-kaiti-std, "Noto Serif SC", "Noto Serif Simp", cursive, serif;
	--font-zh-Hant: "Kaiti TC","Noto Serif TC", "Noto Serif Trad", cursive, serif;
}

/* Chinese Fonts*/
.win :lang(zh) {
	font-family: KaiTi, adobe-kaiti-std, STKaiti, "MS Mincho", "ＭＳ 明朝", cursive, serif;
}

:is(.mobile, .mac) :lang(zh-Hant) {
	font-family: var(--font-zh-Hant);
}
:is(.mobile, .mac) :lang(zh-CN) {
	font-family: var(--font-zh-CN);
}

/* Ensure Traditional and Simplified */
:lang(zh-CN) {
	font-variant-east-asian: simplified proportional-width;
}
:lang(zh-Hant) {
	font-variant-east-asian: traditional proportional-width;
}

/* HANZI */
.hanzi {
	font-size: var(--fs-xxl);
	line-height: 1.3;
	text-align: center;
}
.mobile .hanzi {
	font-size: var(--fs-xl);
}

/* PINYIN */
.pinyin {
	font-size: var(--fs-md);
}

/* Red */
.tone1 {
	color: var(--red, #ff0000);
}

/* Orange */
.tone2 {
	color: var(--orange, #ffa500);
}

/* Green */
.tone3 {
	color: var(--green, #008000);
}

/* Blue */
.tone4 {
	color: var(--blue, #0000ff);
}

/* Gray */
.tone5 {
	color: var(--tx-2, #808080);
}

/*#endregion =============================== */

/*#region ================================== ENGLISH */
.english {
	line-height: 1.1;
	text-align: left;
	font-size: var(--fs-base);
}

/*Noun, Adj Pleco*/
.en-cl {
	font-weight: bold;
	font-size: var(--fs-sm);
	text-transform: uppercase;
	color: var(--tx-3);
}

div.en-cl {margin-top:1rem;}
span.en-cl {margin-right: 1ch;}
.mobile span.en-cl {margin-right: 0.5ch;}

/* Fades List numbers */
.english :is(ol, ul) {
	margin: 0.3em 0;
	padding-left: 0.85em;
}
.english li::marker,
.english:not(blockquote) > b {
	color: var(--tx-3);
	font-size: var(--fs-sm);
	font-weight: 500;
}

/* Fades List Numbers in lists imported from Pleco as text */
.english:not(blockquote) > b {
	margin-right: 4px;
	margin-left: 1px;
}

/* Formats examples included with Pleco */
.english blockquote {
	border-left: 2px solid var(--ui);
	padding-left: 1em;
	margin: 0.5em 0em;
	font-size: var(--fs-sm);
	color: var(--tx-2);
}

.mobile:not(.ipad) .english blockquote {
	padding-left: 0.5em;
}

.keyword,
.english blockquote b {
	color: var(--red);
	font-weight: 500;
}

.english blockquote > p:first-child {
	color: var(--tx);
	font-size: var(--fs-base);
}

.english.only-hanzi blockquote > :not(p:first-child) {
	display: none;
}
.english.hide-bq blockquote {
	display: none;
}

/* Animations */
.english blockquote > p {
	transition: 
		font-size 500ms ease-in-out,
		color 500ms ease;
}

.english blockquote > :not(p:first-child):hover {color: var(--tx);}

/*#endregion =============================== */

/*#region ================================== BACK SIDE INFO */
section#moreInfo {
	font-size: var(--fs-md);
	margin-top: var(--fs-base);
}

:is(.classifier, .also, .freq, .notes)::before {
	font-size: var(--fs-base);
	color: var(--tx-2);
	margin-right: 1ch;
}

.classifier::before {content: "M:";}
.also::before {content: "Alt:";}
/* .freq::before {content: "Freq:";} */
/* .notes::before {display:block; content: "Notes:";} */

.freq {
	font-size: var(--fs-sm);
	text-transform: capitalize;
	color: var(--tx-2);
}
.freq.freq-unknown{display:none;}

.notes {
	font-size: var(--fs-base);
	.cat, .en-cl, .antonym, .modif, .compound {
		font-size: var(--fs-sm);
		color: var(--tx-3);
		margin-right:1ch;
		text-transform: capitalize;
	}
}

/* Links to Dictionaries */
.link {
	display:flex;
	justify-content: center;
	gap:0.7em;
}

.link > a {
	font-size: var(--fs-sm);
	color: var(--tx-2);
	text-decoration: underline;
}

/* Hide invalid links based on platform*/
.mobile .desktop-only,
.mobile-only {
	display: none;
}
.mobile .mobile-only,
.desktop-only {
	display: inline;
}

/*#endregion =============================== */

/*#region ================================== SOUND */
/* Centers Pinyin and offsets sound button */

.sound .replay-button {margin: 0px;}

.replay-button svg circle {
	fill: var(--ui-2);
}
.replay-button svg path {
	fill: var(--tx-2);
}

/*#endregion =============================== */

/*#region ================================== TYPE ANSWER */
input#typeans {
	box-sizing: border-box;
	background-color: var(--ui);
	border-color: var(--ui-2);
	color: var(--tx);
	font-size: var(--fs-md) !important;
	width: fit-content;
	max-width: 40%;
	margin-top: var(--fs-xxs);
	margin-bottom: var(--fs-xxs);
}

/* Results */

/* Hides results if nothing is answered */
code#typeans:not(:has(*)) {
	display: none;
}
#typearrow {
	background-color: var(--bg);
}
.typeMissed {
	color: var(--tx);
	background-color: var(--ui-3);
}
.typeBad {
	color: var(--tx);
	background-color: #d14d41;
}
.typeGood {
	color: var(--tx);
	background-color: #879a39;
}

/* Hides text if completely Correct and displays a check mark instead */
code#typeans > .typeGood:only-child {
	visibility: collapse;
}
code#typeans > .typeGood:only-child::after {
	display: inline-flexbox;
	visibility: visible;
	position: relative;
	content: "\2713";
	color: var(--green);
	font-size: var(--fs-md);
	left: -1.5ch;
}
/* Hides any comparisons */
#typeans #typearrow, #typeans #typearrow ~ * {display:none}
/*#endregion =============================== */

/*#endregion =========================================== */
