<div class="prettify-flashcard">
	<header>
		<span class="prettify-deck">{{Deck}}</span>
		<span id="cardType" class="card-type">{{Card}}</span>
	</header>
	<div class="prettify-field prettify-field--front">
		<div class="hanzi" id="conditionalContent">
			<span id="simp" lang="zh-cmn-Hans-CN">{{Simplified}}</span><span id="trad" lang="zh-cmn-Hant-TW" class="hide">|{{Traditional}}</span>
		</div>
		<div id="example0" class="english only-hanzi">{{hint::English}}</div>
	</div>

	<div class="hide" id="jsRef">
		<span id="simplified">{{text:Simplified}}</span>
		<span id="traditional">{{text:Traditional}}</span>
		<span id="pinyin">{{text:Pinyin}}</span>
		<span id="english">{{English}}</span>
		<script type="text/javascript" src="_ChineseVocab.min.js"></script>
		<script type="text/javascript" src="_minimalDeck.js"></script>
	</div>
<script>
(async function () {
  const BODY = await document.body;
	const back = await document.getElementById('answer');
  //console.log('initalizing', BODY.getAttribute('listener'));
  if (BODY.getAttribute('listener') !== true || !back) {
    //console.log('Creating Listener and setting attribute as true');
    BODY.addEventListener("keydown", showHint, true);
    BODY.setAttribute('listener', true);
  }
  //console.log('Check listener Attribute', BODY.getAttribute('listener'))
  function showHint(e) {
    const hint = document.querySelector('a.hint');
  	  //console.log(e, hint);
    if (back || hint.style.display === 'none') {
      //console.log('remove Listener');
      return BODY.removeEventListener('keydown', showHint, true);
    }
    else if (e.ctrlKey && e.code === 'KeyH' && !back) {
      //console.log('Ctrl + h buttons pressed');
      hint.click();
      return BODY.removeEventListener('keydown', showHint, true);
    }
  }
})();
</script>