<div class="prettify-flashcard">
	<header>
		<span class="card-type">{{Card}}</span>
	</header>
	<div class="prettify-field prettify-field--front">
		<div id="example0" class="english hide-bq">{{English}}</div>
		<div class="pinyin">
			<a id="firstHint" class="hint" href="#" onclick="getNum()"># Char(s)</a>
			<div id="hintPinyin" class="hint" style="display: none">{{Pinyin}}</div>
			<button id="playSound" class="replay-button soundLink tappable" type="button" onclick="playBoth()">
				<svg class="lucide lucide-volume2-icon lucide-volume-2" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round">
					<path class="fill" stroke-linejoin="miter" stroke-width="1" d="M11 4.702a.705.705 0 0 0-1.203-.498L6.413 7.587A1.4 1.4 0 0 1 5.416 8H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h2.416a1.4 1.4 0 0 1 .997.413l3.383 3.384A.705.705 0 0 0 11 19.298z" />
					<path class="line" fill="none" d="M16 9a5 5 0 0 1 0 6" />
					<path class="line" fill="none" d="M19.364 18.364a9 9 0 0 0 0-12.728" />
				</svg>
			</button>
		</div>
		<span lang="zh-cmn-Hans-CN">{{type:Simplified}}</span>
	</div>

	<div class="hide" id="jsRef">
		<div class="sound"><span id="male">{{Sound (Male)}}</span><span id="female">{{Sound (Female)}}</span></div>
		<span id="simplified">{{text:Simplified}}</span>
		<span id="traditional">{{text:Traditional}}</span>
		<span id="pinyin">{{text:Pinyin}}</span>
		<span id="english">{{English}}</span>
		<span id="cardType">{{text:Card}}</span>
		<script type="text/javascript" src="_ChineseVocab.min.js"></script>
	</div>