<div class="prettify-flashcard">
	<header id="header">
		<span class="card-type">{{Card}}</span>
		{{#Tags}}<span class="prettify-tags">{{Tags}}</span>{{/Tags}}
	</header>
	<div class="prettify-field prettify-field--front">
		<div class="hanzi" id="conditionalContent"><span lang="zh-CN">{{Color Hanzi}}</span></div>
		<div id="pinyin" class="pinyin">{{hint:Pinyin}}</div>
		<div class="sound">{{^Sound (Male)}}{{tts zh_CN speed=1:Simplified}}{{/Sound (Male)}} {{Sound (Male)}}{{Sound (Female)}}</div>
	</div>

	<script type="text/javascript" src="_minimalTags.js"></script>
	<script>
		(function () {
			// Checks to see if Traditional Characters are different and inserts if not same
			let simp = "{{Simplified}}";
			let trad = "{{Traditional}}";
			if (simp !== trad) {
				let add = document.getElementById("conditionalContent");
				add.innerHTML += '<span lang="zh-Hant">|{{Color Traditional}}</span>';
			}
		})();
	</script>
