{{FrontSide}}
<hr class="prettify-divider answer" id="answer"/>

<div class="prettify-field prettify-field--back">
	<div id="example0" class="english">{{English}}</div>
	<section id="moreInfo" lang="zh-CN">
		{{#Also Written}}<div class="also">{{Also Written}}</div>{{/Also Written}}
		{{#Simplified Classifier}}<div class="classifier">{{Simplified Classifier}}</div>{{/Simplified Classifier}}
		{{Frequency}}
		{{#Notes}}<div class="notes">{{Notes}}</div>{{/Notes}}
	</section>

<footer>
	<div class="link">
		<a class="desktop-only" id="MDBG"
			href="https://www.mdbg.net/chinese/dictionary?page=worddict&wdrst=0&wdqb={{text:Simplified}}">MDBG</a>
		<a class="mobile-only" id="plecoMobile" href="plecoapi://x-callback-url/df?hw={{text:Simplified}}">Pleco</a>
		<a id="Tatoeba" href="https://tatoeba.org/en/sentences/search?from=cmn&query={{text:Simplified}}&to=">Tatoeba</a>
	</div>
</footer>
</div>
</div>

<script>
	(function () {
		// Searches for vocab words and adds the .keyword class for extra styling
		const ex = document.getElementById("example0");
		if (ex.getElementsByTagName("blockquote").length > 0) {
			let simp = `{{Simplified}}`.trim();
			let trad = `{{Traditional}}`.trim();
			let py = `{{Pinyin}}`.replace(/<[^>]+>/gi, '').trim();
			const reKeywords = new RegExp(String.raw`(<b>)?(\s?(?:${simp}|${trad}|${py})\s?)(<\/b>)?`, "gi");
			ex.innerHTML = ex.innerHTML.replace(reKeywords, '<span class="keyword">$2</span>');
		}
	})();
</script>
<script>
	(function () {
		let isBack = document.getElementById('answer');
		if (isBack) {
			let hint = document.querySelector("div.pinyin > a.hint");
			let py = document.querySelector("div.pinyin > div.hint");
			hint.style.display = 'none';
			py.style.display = 'block';
		}
	})()
</script>
