<div class="prettify-flashcard">
	<header>
		<span class="card-type">{{Card}}</span>
	</header>
	<div class="prettify-field prettify-field--front">
		<div id="example0" class="english hide-bq">{{English}}</div>
		<div class="pinyin">
			<a class="hint" href="#" onclick="this.style.display='none'; document.getElementById('hintLength').style.display='inherit'; return false;"># of Char</a>
			<a id="hintLength" class="hint" href="#" style="display: none" onclick="this.style.display='none'; document.getElementById('hintPinyin').style.display='inherit'; return false;"></a>
			<p id="hintPinyin" class="hint" style="display: none">{{Pinyin}}</p>
		</div>
		<span lang="zh-CN">{{type:Simplified}}</span>
	</div>

	<script>
		(function () {
			// Helps to Create a 2 step hint showing length of words before Hanzi
			let simp = `{{text:Simplified}}`.trim();
			document.getElementById("hintLength").innerHTML = `${simp.length} Char(s)`;
		})();
	</script>
