{{FrontSide}}

<hr class="prettify-divider answer" id="answer" />
<div class="prettify-field prettify-field--back">
  <div class="pinyin">{{Pinyin}}<button id='playSound' class="replay-button soundLink" type="button"
      onclick="playBoth()">
      <svg class="desktop-only playImage" viewBox="0 0 64 64">
        <path d="M56.502,32.301l-37.502,20.101l0.329,-40.804l37.173,20.703Z"></path>
      </svg>
      <span class="mobile-only">🔊</span>
    </button></div>
  <div class="sound hide">
    <span id='male'>{{Sound (Male)}}</span><span id='female'>{{Sound (Female)}}</span>
  </div>

  <section id="moreInfo" lang="zh-CN">
    {{#Also Written}}<div class="also">{{Also Written}}</div>{{/Also Written}}
    {{#Simplified Classifier}}<div class="classifier">{{Simplified Classifier}}</div>{{/Simplified Classifier}}
    {{Frequency}}
    {{#Notes}}<div class="notes">{{Notes}}</div>{{/Notes}}
  </section>
</div>
<footer>
  {{#Tags}}<span class="prettify-tags">{{Tags}}</span>{{/Tags}}
  <div class="link">
    <a class="desktop-only" id="MDBG"
      href="https://www.mdbg.net/chinese/dictionary?page=worddict&wdrst=0&wdqb={{text:Simplified}}">MDBG</a>
    <a class="mobile-only" id="plecoMobile" href="plecoapi://x-callback-url/df?hw={{text:Simplified}}"><img alt="Pleco"
        src="_pleco.png"></a>
    <a class="desktop-only" id="Hanzii"
      href="https://hanzii.net/search/word/{{text:Simplified}}">Hanzii</a>
    <a id="Tatoeba" href="https://tatoeba.org/en/sentences/search?from=cmn&query={{text:Simplified}}&to="><img
        alt="Tatoeba" class="mobile-only" src="_tatoeba.png"><span class="desktop-only">Tatoeba</span></a>
  </div>
</footer>
</div>

<script src="_minimalTags.js"></script>
