@import url("core-card.css"); /* Import font sizing and stacks */
@import url("flexoki-theme.css"); /* Import Flexoki Colours */

/*#region =========================================== Minimal Card Styling */
.card {
    cursor: default;
    padding: 0.5em 0;
    background-color: #F2F0E5;
}
.card.nightMode {background-color: var(--bg-2);}

html:not(.mobile) .card {padding: 0.5em;}
.card::-webkit-scrollbar {display: none;}
/* -------------------------------------------------- FLASHCARD */
.prettify-flashcard {
  background-color: var(--bg);
  border-radius: 8px;
  border: 1px solid var(--ui);
  box-shadow: var(--ui) 0px 7px 14px 0px, var(--ui) 0px 3px 6px 0px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  text-align: center;
  word-wrap: break-word;
  color: var(--tx);
  font-family: var(--font-sans-serif);
  font-size: var(--fs-base);
}
.nightMode .prettify-flashcard {box-shadow: none;}
.prettify-flashcard ::selection {background-color: var(--ui-2);}

/* -------------------------------------------------- FIELDS */
.prettify-field {margin: 2rem;}
.mobile:not(.ipad) .prettify-field {margin: 1rem;}

/* -------------------------------------------------- TAGS */
.prettify-tags {
  margin: 0 0 1.5rem 0;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: row-reverse;
  font-size: var(--fs-sm);
}
.mobile:not(.ipad) .prettify-tags {margin: 0 0 1rem 0;}

.prettify-tag {
  all: initial;
  background-color: var(--bg-2);
  border-radius: 0.2em;
  color: var(--tx-2);
  display: inline;
  font-size: var(--fs-sm);
  font-family: var(--font-sans-serif);
  margin: 0 0.5em 0.5em 0;
  padding: 0.25em;
  word-break: break-word;
}

/* -------------------------------------------------- DIVIDER */
.prettify-divider {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed var(--ui-3);
  margin: 1em;
  padding: 0;
}
.prettify-divider--answer {margin: 0;}
/*#endregion =========================================== */

ruby, ruby rt {font-variant-east-asian: ruby;}
p {margin-block-start: 0px;margin-block-end: 0px;}

/* Chinese Fonts*/
.win :lang(zh) {font-family: KaiTi, "MS Mincho", "ＭＳ 明朝", serif;}
.mac :lang(zh-HK) {font-family: "Kaiti TC", STKaiti, "Noto Serif TC", serif;}
.mac :lang(zh-CN) {font-family: "Kaiti SC", STKaiti, "Noto Serif SC", serif;}
.mobile :lang(zh-HK) {font-family: "Noto Serif TC", "Noto Serif Trad", HYQIHei, serif;}
.mobile :lang(zh-CN) {font-family: "Noto Serif SC", "Noto Serif Simp", HYQIHei, serif;}

/* Ensure Traditional and Simplified */
:lang(zh-CN) {font-variant-east-asian: simplified;}
:lang(zh-HK) {font-variant-east-asian: traditional;}

/* HANZI */
.hanzi {font-size:var(--fs-xxl);line-height: 1.3;}
.mobile .hanzi {font-size:var(--fs-xl);}

/* ENGLISH */
.english {
	line-height: 1.2;
  text-align: left;
  font-size:var(--fs-base);
}

/*Noun, Adj Pleco*/
.eng-classifer, .en-cl { 
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--tx-3);
}

/* Fades List numbers */
.english :is(ol, ul) {
	margin: 0;
	padding-left: 1em;
}
.english li::marker, .english:not(blockquote) > b{
	color: var(--tx-3);
	font-size: var(--fs-sm);
  font-weight: 500;
}

/* Fades List Numbers in lists imported from Pleco as text */
.english:not(blockquote) > b {
	margin-right:4px;
  margin-left: 1px;
}

/* Formats examples included with Pleco */
.english blockquote {
	border-left: 2px solid var(--blue);
	margin-left: 1em;
	padding-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: var(--fs-sm);
  color: var(--tx-2);
}
.english blockquote > p:first-child{color: var(--tx);}
.english.hide-bq blockquote {display:none;}

/* PINYIN */
.pinyin a.hint{color: var(--tx-2);font-style:italic;}
.prettify-field--front .pinyin {font-size: var(--fs-md);}
.tone1 {color: var(--red);} /* Red */
.tone2 {color: var(--orange);} /* Orange */
.tone3 {color: var(--green);} /* Green */
.tone4 {color: var(--blue);} /* Blue */
.tone5 {color: var(--tx-2);} /* Gray */

/* ALSO */
.also {font-size:var(--fs-md);}
.classifier {font-size: var(--fs-md);}

.classifier ruby rt {visibility: hidden;}
.classifier ruby:hover rt {visibility: visible;}

/* Before */
.classifier::before, .also::before, .example::before {
	font-size: var(--fs-sm);
	display: block-inline;
	color: var(--tx-3);
	margin-right: 0.2em;
}
.classifier::before {content: "M:";}
.also::before{content: "Alt:";}

/* EXAMPLES */
.example::before {display: block; content: "Ex:";}
.example {
  color: var(--tx-2);
  font-size:var(--fs-base);
  line-height: 1.2;
  text-align: left;
  margin-top: 1rem;
  min-height: calc(var(--fs-base)*4.5);
  max-height: clamp(calc(var(--fs-base)*7), calc(var(--fs-base)*16), 35vh);
  overflow-y: auto;
  border-block-end: 2px inset var(--ui);
  border-end-start-radius:5px;
  border-end-end-radius:5px;
}


.replay-button svg circle {fill: var(--ui-2);}
.replay-button svg path {fill: var(--tx-2);}
/* Links to Dictionaries */
.link {margin-top: var(--fs-sm);}
.link a, .link > a {
	font-size: var(--fs-sm);
	color: var(--tx-2);
	text-decoration:underline;
}

/* Hide invalid links based on platform*/
.mobile .desktop-only, .mobile-only {display:none;} 
.mobile .mobile-only, .dekstop-only {display:inline;}


/* Type the Charecter */
#typeans{
  min-width: 150px;
  width: 35%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: var(--ui);
  border-color:var(--ui-2);
  color: var(--tx);
  font-size:var(--fs-base);
}
input#typeans {font-size: var(--fs-base) !important; margin: 8px auto}
#typearrow {background-color: var(--bg);}
.typeMissed{color: var(--tx);background-color: var(--ui-3);}
.typeBad{color: var(--tx);background-color: #D14D41;}
.typeGood{color: var(--tx);background-color: #879A39;}
