@import url("_core-card.css");
:root {
	--font-cn-pc: "Kaiti SC", KaiTi, "Noto Serif SC", "MS Mincho", "ＭＳ 明朝", serif;
	--font-cn-mob: "Noto Serif SC", "Noto Serif Simp", HYQIHei, serif;
}
/* Universal Styling */
.card {
	font-family: var(--font-sans-serif), var(--font-cn-pc), var(--font-cn-mob), var(--font-ui);
	font-size: var(--fs-base);
	font-variant-east-asian: simplified;
	text-align: center;
	color: black;
	background-color: white;
}

.hint {
	color: gray;
}
a {
	color: #205ea6;
}

/* Spacing */
hr#answer {
	margin: 1.5rem 0;
}

/* FRONT */
/* Chinese Fonts*/
.hanzi {
	font-size: var(--fs-xl);
}
.mobile:not(.ipad) .hanzi {
	font-size: var(--fs-lg);
}

ruby rt {
	visibility: hidden;
	font-variant-east-asian: ruby;
}
ruby:hover rt {
	visibility: visible;
}

.pinyin {
	color: gray;
}

/* ONLY for IS Valid Card Types */
.header {
	margin-bottom: 2rem;
	color: grey;
}

.invalid,
.valid {
	font-size: var(--fs-lg);
	font-weight: bold;
	margin-bottom: 2rem;
}

.valid::after {
	content: "Correct!";
	color: green;
}

.invalid::before {
	content: "Wrong!";
	color: red;
}

/* BACK -- lessonInfo div */
.notes, .pattern {
	font-size: var(--fs-md);
}

.article {
	font-size: var(--fs-base);
}

.article::before,
.pattern::before {
	font-size: var(--fs-sm);
	color: grey;
	margin-right: 4px;
}
.pattern::before {
	content: "Pattern:";
}
.article::before {
	content: "Link:";
}
