@import url("_core-card.css");
@import url("_minimal.css");
:root {
	--font-cn-pc: "Kaiti SC", KaiTi, "Noto Serif SC", "MS Mincho", "ＭＳ 明朝", serif;
	--font-cn-mob: "Noto Serif SC", "Noto Serif Simp", HYQIHei, serif;
	--card-text-align: center;
}
/* Universal Styling */
.card .prettify-flashcard{
	font-family: var(--font-sans-serif), var(--font-cn-pc), var(--font-cn-mob), var(--font-ui);
	font-variant-east-asian: simplified;
}
.hide {display:none;}

/* FRONT */
/* Chinese Fonts*/
.hanzi {
	font-size: var(--fs-xl);
}
.mobile:not(.ipad) .hanzi {
	font-size: var(--fs-md);
}

.pinyin {
	font-size: var(--fs-base);
}
.keyword {color:#a02f6f;}
.nightMode .keyword {color:#ce5d97;}

/* ONLY for IS Valid Card Types */
header {
	margin-bottom: 2rem;
	color:var(--text-fg-faint);
	font-size: var(--fs-base);
}

.invalid,
.valid {
	font-size: var(--fs-md);
	font-weight: bold;
}

.valid::before {
	content: "Correct!";
	color: green;
}

.invalid::before {
	content: "Wrong!";
	color: red;
}

/* BACK */
.english {color:var(--text-fg);}
.english + .lessonInfo {
	margin-top: 1rem;
}
.article {
	font-size:var(--fs-sm);
	margin-top: 4px;
}

.pattern::before {
	font-size: var(--fs-sm);
	color: var(--text-fg-faint);
	margin-right: 4px;
	content: "Pattern:";
}
