{{FrontSide}}
<hr class="prettify-divider prettify-divider--answer" id="answer"/>
<div class="prettify-field prettify-field--back">
<div class="english">{{English}}</div>
<div class="lessonInfo">
    <div class="notes">{{Notes}}</div>
    <div class="pattern">{{Grammar Construct}}</div>
    <div class="article"><a href={{Source URL}}>{{Article Title}}</a></div>
</div>
</div>
<div class="prettify-tags">{{Tags}}</div>
</div>
<script src="_minimalTags.js"></script>

<script type="text/javascript">
(function () {
  let hint = document.querySelector("div.pinyin > a.hint");
  let py = document.querySelector("div.pinyin > div.hint");
  hint.style.display = "none";
  py.style.display = "block";
})();
</script>
