{{^Example Type}}
<div class="prettify-flashcard">
	<div class="prettify-field prettify-field--front">
		<div class="hanzi" id="example">{{中文}}</div>
		{{#Pinyin}}<div class="pinyin" id="pinyin">{{hint::Pinyin}}</div>{{/Pinyin}}
		{{tts zh_CN hypertts_preset=Front_realtime_0 voices=HyperTTS:中文}}
	</div>
	<script>
		(function () {
			const reHanzi = new RegExp(/\p{Script=Hani}+/, 'gu');
			const grammar = '{{Grammar Construct}}'.match(reHanzi);
			if (grammar){
				const hanzi = [...new Set(grammar)].join('|');
				//console.log(grammar, hanzi)
				const reKeywords = new RegExp(hanzi, 'g');
				const ex = document.getElementById('example');
				ex.innerHTML = ex.innerHTML.replace(reKeywords, '<span class="keyword">$&</span>');
			}
		})();
	</script>
{{/Example Type}}

