{{FrontSide}}
  <hr class="prettify-divider prettify-divider--answer" id="answer" />
  <div class="prettify-field prettify-field--back">
    <div class="english">{{English}}</div>
    <section class="lessonInfo">
      {{#Notes}}<div class="notes">{{Notes}}</div>{{/Notes}}
      {{#Grammar Construct}}<div class="pattern">{{Grammar Construct}}</div>{{/Grammar Construct}}
      <div class="article"><a href="{{text:Source URL}}">{{Article Title}}</a></div>
    </section>
  </div>
    {{#Tags}}<div class="prettify-tags">{{Tags}}</div>{{/Tags}}
</div>

<script src="_minimalTags.js"></script>
<script>
  (function () {
    const PY = document.getElementById('pinyin');
    if (PY){
      PY.querySelector("a.hint").style.display = 'none';
      PY.querySelector("div.hint").style.display = "block";
    }
  })();
</script>
